# 注明git提交时需要忽略的目录或者文件
# 所有和项目构建无关的文件都应该避免提交到git仓库
# https://git-scm.com/docs/gitignore

#java
target/*
out/
.classpath

#intellij idea
.idea
*.iml

# Mac-specific hidden file
**/.DS_Store